// -------------------------------------------------------------------------------
//
// Description: Transition with type and duration
// ===============================================================================
//

@mixin transition($transition-property, $scale, $map: $duration) {
  $transition-duration: map-fetch($map, $scale transition-duration);

  transition-property: $transition-property;
  transition-duration: $transition-duration;
  transition-timing-function: ease-in-out;
}
