// -------------------------------------------------------------------------------
//
// Description: Font-family
// ===============================================================================
//

@mixin font-family($family) {
  font-family: map-get($FONT_FAMILY, $family);
}
