// -------------------------------------------------------------------------------
//
// Description: An easy way to show an element
// ===============================================================================
//

@mixin shown() {
  display: block;
}
