// -------------------------------------------------------------------------------
//
// Description: Sets width/height of icons. Matches $type-scale
// ===============================================================================
//

// @mixin icon-scale($scale, $map: $icon-scale) {
//   width: rem(map-fetch($map, $scale width));
//   height: rem(map-fetch($map, $scale height));

//   svg {
//     width: rem(map-fetch($map, $scale width));
//     height: rem(map-fetch($map, $scale height));
//   }
// }

// @mixin icon-scale-bg($scale, $map: $icon-scale) {
//   width: rem(map-fetch($map, $scale width));
//   height: rem(map-fetch($map, $scale height));
//   background-size: cover;
// }

@mixin icon-scale($scale) {
  width: map-get($ICON_SCALE, $scale);
  height: map-get($ICON_SCALE, $scale);

  svg {
    width: inherit;
    height: inherit;
  }
}

@mixin icon-scale-bg($scale) {
  width: map-get($ICON_SCALE, $scale);
  height: map-get($ICON_SCALE, $scale);

  background-size: cover;
}
