// -------------------------------------------------------------------------------
//
// Description: Adds border-radius to element
// ===============================================================================
//

@mixin border-radius(
  $top-left: null,
  $top-right: null,
  $bottom-right: null,
  $bottom-left: null
) {
  -webkit-border-radius: map-get($BORDER_RADIUS, $top-left)
    map-get($BORDER_RADIUS, $top-right) map-get($BORDER_RADIUS, $bottom-left)
    map-get($BORDER_RADIUS, $bottom-right);

  -moz-border-radius: map-get($BORDER_RADIUS, $top-left)
    map-get($BORDER_RADIUS, $top-right) map-get($BORDER_RADIUS, $bottom-left)
    map-get($BORDER_RADIUS, $bottom-right);

  -ms-border-radius: map-get($BORDER_RADIUS, $top-left)
    map-get($BORDER_RADIUS, $top-right) map-get($BORDER_RADIUS, $bottom-left)
    map-get($BORDER_RADIUS, $bottom-right);

  border-radius: map-get($BORDER_RADIUS, $top-left)
    map-get($BORDER_RADIUS, $top-right) map-get($BORDER_RADIUS, $bottom-left)
    map-get($BORDER_RADIUS, $bottom-right);
}
