// -------------------------------------------------------------------------------
//
// Description: Focus style
// ===============================================================================
//

@mixin focus {
  outline: 0;
  box-shadow: 0 0 0 4px map-get($COLOR_GREY, COLOR_GREY_TINT_90);
  position: relative;
  z-index: 1;
}
