// -------------------------------------------------------------------------------
//
// Description: Center element
// ===============================================================================
//

@mixin center() {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
