// -------------------------------------------------------------------------------
//
// Description: Text align
//
// A mixin that helps text-alignment
//
// text-align: start; and text-align: end; allows the browser to decide how to
// best align text based on the user's LTR or RTL preference. Browser support is
// quite good, but to be sure, we use a backup solution for `start`and `end`,
// using double declarations, hence falling back to `left`and `right`.
// ===============================================================================
//

@mixin text-align($direction) {
  @if $direction == 'START' {
    text-align: left;
    text-align: start;
  } @else if $direction == 'END' {
    text-align: right;
    text-align: end;
  } @else if $direction == 'LEFT' {
    text-align: left;
  } @else if $direction == 'RIGHT' {
    text-align: right;
  } @else if $direction == 'CENTER' {
    text-align: center;
  } @else if $direction == 'JUSTIFY' {
    text-align: justify;
  } @else if $direction == 'JUSTIFY_ALL' {
    text-align: justify-all;
  } @else if $direction == 'MATCH_PARENT' {
    text-align: match-parent;
  }
}
