// -------------------------------------------------------------------------------
//
// Description: Screen readers only
// ===============================================================================
//

@mixin sr-only() {
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  position: absolute !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
}
