// -------------------------------------------------------------------------------
//
// Description: Typographic scale: 1.250 "Major Third" (http://type-scale.com/)
// line-height is calculated using the golden ratio: https://pearsonified.com/typography/
// ===============================================================================
//

$type-scale: (
  TEXT_PRESET_1: (
    font-size: map-get($FONT_SIZE, FONT_SIZE_1),
    line-height: map-get($LINE_HEIGHT, LINE_HEIGHT_1),
  ),
  TEXT_PRESET_2: (
    font-size: map-get($FONT_SIZE, FONT_SIZE_2),
    line-height: map-get($LINE_HEIGHT, LINE_HEIGHT_2),
  ),
  TEXT_PRESET_3: (
    font-size: map-get($FONT_SIZE, FONT_SIZE_3),
    line-height: map-get($LINE_HEIGHT, LINE_HEIGHT_3),
  ),
  TEXT_PRESET_4: (
    font-size: map-get($FONT_SIZE, FONT_SIZE_4),
    line-height: map-get($LINE_HEIGHT, LINE_HEIGHT_4),
  ),
  TEXT_PRESET_5: (
    font-size: map-get($FONT_SIZE, FONT_SIZE_5),
    line-height: map-get($LINE_HEIGHT, LINE_HEIGHT_5),
  ),
  TEXT_PRESET_6: (
    font-size: map-get($FONT_SIZE, FONT_SIZE_6),
    line-height: map-get($LINE_HEIGHT, LINE_HEIGHT_6),
  ),
  TEXT_PRESET_7: (
    font-size: map-get($FONT_SIZE, FONT_SIZE_7),
    line-height: map-get($LINE_HEIGHT, LINE_HEIGHT_7),
  ),
);
