// -------------------------------------------------------------------------------
//
// Description: Typographic scale: 1.250 "Major Third" (http://type-scale.com/)
// line-height is calculated using the golden ratio: https://pearsonified.com/typography/
// ===============================================================================
//

$type-scale: (
  FONT_SIZE_XXS: (
    font-size: map-get($FONT_SIZE, FONT_SIZE_XXS),
  ),
  FONT_SIZE_XS: (
    font-size: map-get($FONT_SIZE, FONT_SIZE_XS),
  ),
  FONT_SIZE_S: (
    font-size: map-get($FONT_SIZE, FONT_SIZE_S),
  ),
  FONT_SIZE_M: (
    font-size: map-get($FONT_SIZE, FONT_SIZE_M),
  ),
  FONT_SIZE_L: (
    font-size: map-get($FONT_SIZE, FONT_SIZE_L),
  ),
  FONT_SIZE_XL: (
    font-size: map-get($FONT_SIZE, FONT_SIZE_XL),
  ),
  FONT_SIZE_XXL: (
    font-size: map-get($FONT_SIZE, FONT_SIZE_XXL),
  ),
  FONT_SIZE_XXXL: (
    font-size: map-get($FONT_SIZE, FONT_SIZE_XXXL),
  ),
  FONT_SIZE_XXXXL: (
    font-size: map-get($FONT_SIZE, FONT_SIZE_XXXXL),
  ),
);
