// -------------------------------------------------------------------------------
//
// Description: Animation duration
// ===============================================================================
//

$duration: (
  DURATION_INSTANT: (
    transition-duration: map-get($DURATION, DURATION_INSTANT),
  ),
  DURATION_SUPER_FAST: (
    transition-duration: map-get($DURATION, DURATION_SUPER_FAST),
  ),
  DURATION_FAST: (
    transition-duration: map-get($DURATION, DURATION_FAST),
  ),
  DURATION_DEFAULT: (
    transition-duration: map-get($DURATION, DURATION_DEFAULT),
  ),
  DURATION_EASY: (
    transition-duration: map-get($DURATION, DURATION_EASY),
  ),
  DURATION_SLOW: (
    transition-duration: map-get($DURATION, DURATION_SLOW),
  ),
  DURATION_SUPER_SLOW: (
    transition-duration: map-get($DURATION, DURATION_SUPER_SLOW),
  ),
);
