// -------------------------------------------------------------------------------
//
// Description: Typographic scale: 1.250 "Major Third" (http://type-scale.com/)
// line-height is calculated using the golden ratio: https://pearsonified.com/typography/
// ===============================================================================
//

$line-height: (
  LINE_HEIGHT_XXS: (
    line-height: map-get($LINE_HEIGHT, LINE_HEIGHT_XXS),
  ),
  LINE_HEIGHT_XS: (
    line-height: map-get($LINE_HEIGHT, LINE_HEIGHT_XS),
  ),
  LINE_HEIGHT_S: (
    line-height: map-get($LINE_HEIGHT, LINE_HEIGHT_S),
  ),
  LINE_HEIGHT_M: (
    line-height: map-get($LINE_HEIGHT, LINE_HEIGHT_M),
  ),
  LINE_HEIGHT_L: (
    line-height: map-get($LINE_HEIGHT, LINE_HEIGHT_L),
  ),
  LINE_HEIGHT_XL: (
    line-height: map-get($LINE_HEIGHT, LINE_HEIGHT_XL),
  ),
  LINE_HEIGHT_XXL: (
    line-height: map-get($LINE_HEIGHT, LINE_HEIGHT_XXL),
  ),
  LINE_HEIGHT_XXXL: (
    line-height: map-get($LINE_HEIGHT, LINE_HEIGHT_XXXL),
  ),
);
