// -------------------------------------------------------------------------------
//
// Description: Sets width/height of icons. Matches $type-scale
// ===============================================================================
//

$icon-scale: (
  ICON_SCALE_XXS: (
    width: 4px * 3,
    height: 4px * 3,
  ),
  ICON_SCALE_XS: (
    width: 4px * 4,
    height: 4px * 4,
  ),
  ICON_SCALE_S: (
    width: 4px * 5,
    height: 4px * 5,
  ),
  ICON_SCALE_M: (
    width: 4px * 6,
    height: 4px * 6,
  ),
  ICON_SCALE_L: (
    width: 4px * 7,
    height: 4px * 7,
  ),
  ICON_SCALE_XL: (
    width: 4px * 8,
    height: 4px * 8,
  ),
  ICON_SCALE_XXL: (
    width: 4px * 9,
    height: 4px * 9,
  ),
  ICON_SCALE_XXXL: (
    width: 4px * 10,
    height: 4px * 10,
  ),
);
