// -------------------------------------------------------------------------------
//
// Description: Border radius variables
// ===============================================================================
//

$border-radius: (
  BORDER_RADIUS_S: (
    border-radius: map-get($BORDER_RADIUS, BORDER_RADIUS_S),
  ),
  BORDER_RADIUS_M: (
    border-radius: map-get($BORDER_RADIUS, BORDER_RADIUS_M),
  ),
  BORDER_RADIUS_L: (
    border-radius: map-get($BORDER_RADIUS, BORDER_RADIUS_L),
  ),
  BORDER_RADIUS_XL: (
    border-radius: map-get($BORDER_RADIUS, BORDER_RADIUS_XL),
  ),
  BORDER_RADIUS_XXL: (
    border-radius: map-get($BORDER_RADIUS, BORDER_RADIUS_XXL),
  ),
  BORDER_RADIUS_XXXL: (
    border-radius: map-get($BORDER_RADIUS, BORDER_RADIUS_XXXL),
  ),
);
