// -------------------------------------------------------------------------------
//
// Description: Typographic scale: 1.250 "Major Third" (http://type-scale.com/)
// line-height is calculated using the golden ratio: https://pearsonified.com/typography/
// ===============================================================================
//

$type-scale: (
  TEXT_PRESET_1: (
    font-size: map-get($FONT_SIZE, FONT_SIZE_1),
    line-height: map-get($LINE_HEIGHT, LINE_HEIGHT_1),
  ),
  TEXT_PRESET_2: (
    font-size: map-get($FONT_SIZE, FONT_SIZE_2),
    line-height: map-get($LINE_HEIGHT, LINE_HEIGHT_2),
  ),
);
