{# -------------------------------------------------------------------------------

   Description: Layout
   ===============================================================================
#}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <title>
      Webpack boilerplate
    </title>

    <!-- Import Open Sans (or your own font) -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <!-- Link to humans.txt listing the people who made the site -->
    <link rel="author" href="humans.txt" type="text/plain">
  </head>
  <body id="site" class="wb-site">
    {% block main %}{% endblock %}
  </body>
</html>
