// -------------------------------------------------------------------------------
//
// Description: Contains print specific styling
// ===============================================================================
//

@page {
  size: auto; // Auto is the initial value
  margin-top: 1.5cm;
  margin-bottom: 1cm;
  margin-left: 2cm;
}

@media print {
}
