// -------------------------------------------------------------------------------
//
// Description: Only for core functions, mixins, colors, typography etc.
// ===============================================================================
//
// Namespacing:
// -------------------------------------------------------------------------------
// Namespacing in Sass is very useful for scoping project-specific styles and avoiding
// conflicts, e.g. with third party plugins og modules.
//
// Every selector, placeholder, mixin and function in the project should be namespaced.
// Namespace should be buf followed by the dash suffix -, like this: wb- (wb = (w)ebpack (b)oilerplate).

@charset "utf-8";

// 00. Contains styling from external vendors
// -------------------------------------------------------------------------------
@import './00-vendor/all-vendors';

// 01. Contains global styles, such as breakpoints, fonts, colors, etc
// -------------------------------------------------------------------------------
@import './01-config/all-configs';

// 02. Contains global mixins, functions, helper selectors, etc.
// -------------------------------------------------------------------------------
@import './02-tools/all-tools';

// 03. Contains global styles, such as normalize, fonts, colors, etc
// -------------------------------------------------------------------------------
@import './03-base/all-base';

// 04. Contains each self-contained component in its own .scss partial
// -------------------------------------------------------------------------------
@import './04-components/all-components';

// 05. Contains predefined mixins, such as placeholder, border, border-radius etc
// -------------------------------------------------------------------------------
@import './05-utilities/all-utilities';

// 06. Contains print specific styling
// -------------------------------------------------------------------------------
@import './wb-print';

// 07. Contains all the CSS declarations, hacks and things we are not proud of in a shame file
// -------------------------------------------------------------------------------
@import './wb-shame';

// Test, test, test
.wb-test {
  width: 300px;
  height: 300px;
  line-height: 1.45;
  font-family: 'Open Sans', sans-serif;

  // font-size: map-get($FONT_SIZE, FONT_SIZE_XXXL);
  // font-weight: map-get($FONT_WEIGHT, FONT_WEIGHT_BOLD);
  // border-radius: map-get($BORDER_RADIUS, BORDER_RADIUS_XXXL);
  // border: map-get($BORDER_WIDTH, BORDER_WIDTH_M) solid
  //   map-get($COLOR_GREY, COLOR_GREY_TINT_0);
  // background-color: map-get($COLOR_GREY, COLOR_GREY_TINT_50);
}

.wb-svg-test {
  width: 200px;
  height: 200px;
  background-image: url('../../images/icons/icon-heart.svg');
  background-size: cover;
  // background-color: map-get($COLOR_GREY, COLOR_GREY_TINT_75);
}

.wb-image-test {
  width: 400px;
  height: 400px;
  background-image: url('../../images/image.png');
  background-size: cover;
}

// .wb-image-test-test {
//   width: 200px;
//   height: 200px;
//   background-image: url('../../images/icons/icon-heart.svg');
//   background-size: cover;
//   background-color: map-get($COLOR_GREY, COLOR_GREY_TINT_75);
// }
