// -------------------------------------------------------------------------------
//
// Description: Only for core functions, mixins, colors, typography etc.
// ===============================================================================
//
// Namespacing:
// -------------------------------------------------------------------------------
// Namespacing in Sass is very useful for scoping project-specific styles and avoiding
// conflicts, e.g. with third party plugins og modules.
//
// Every selector, placeholder, mixin and function in the project should be namespaced.
// Namespace should be buf followed by the dash suffix -, like this: wb- (wb = (w)ebpack (b)oilerplate).

@charset "utf-8";

// 00. Contains styling from external vendors
// -------------------------------------------------------------------------------
@import './00-vendor/all-vendors';

// 01. Contains global styles, such as breakpoints, fonts, colors, etc
// -------------------------------------------------------------------------------
@import './01-config/all-configs';

// 02. Contains global mixins, functions, helper selectors, etc.
// -------------------------------------------------------------------------------
@import './02-tools/all-tools';

// 03. Contains global styles, such as normalize, fonts, colors, etc
// -------------------------------------------------------------------------------
@import './03-base/all-base';

// 04. Contains each self-contained component in its own .scss partial
// -------------------------------------------------------------------------------
@import './04-components/all-components';

// 05. Contains predefined mixins, such as placeholder, border, border-radius etc
// -------------------------------------------------------------------------------
@import './05-utilities/all-utilities';

// 06. Contains print specific styling
// -------------------------------------------------------------------------------
@import './wb-print';

// 07. Contains all the CSS declarations, hacks and things we are not proud of in a shame file
// -------------------------------------------------------------------------------
@import './wb-shame';

body {
  background-color: red;

  @include line-height(xxxl);

  @include mq($from: xs) {
    background-color: blue;
  }

  @include mq($from: sm) {
    background-color: green;
  }

  @include mq($from: md) {
    background-color: yellow;
  }

  @include mq($from: lg) {
    background-color: teal;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-family(FONT_FAMILY_SECONDARY);
}

.wb-breakpoint-test {
  position: relative;
  background-color: red;

  &::before {
    width: 100px;
    height: 40px;
    margin-left: -50px;
    text-align: center;
    content: '';
    position: absolute;
    top: -20px;
    left: 50%;

    @include mq($from: xs) {
      content: '576px';
    }

    @include mq($from: sm) {
      content: '768px';
    }

    @include mq($from: md) {
      content: '992px';
    }

    @include mq($from: lg) {
      content: '1200px';
    }
  }

  @include mq($from: xs) {
    content: '576px';
    background-color: blue;
  }

  @include mq($from: sm) {
    content: '768px';
    background-color: green;
  }

  @include mq($from: md) {
    content: '992px';
    background-color: yellow;
  }

  @include mq($from: lg) {
    content: '1200px';
    background-color: teal;
  }
}

.wb-svg-test {
  width: rem(200px);
  height: rem(200px);
  background-image: url('../../images/icons/icon-people.svg');
  background-size: cover;
}

.wb-svg-mixin {
  background-color: map-get($COLOR_GREY, COLOR_GREY_TINT_90);

  @include icon-scale(xxxl);
}

.wb-svg-mixin-bg {
  background-color: map-get($COLOR_GREY, COLOR_GREY_TINT_80);
  background-image: url('../../images/icons/icon-people.svg');

  @include icon-scale-bg(xxxl);
}

.wb-image-test {
  width: rem(400px);
  height: rem(400px);
  background-image: url('../../images/image.png');
  background-size: cover;

  @include pt(1);
  @include pr(2);
  @include pb(3);
  @include pl(4);

  @include mt(1);
  @include mr(2);
  @include mb(3);
  @include ml(4);
}
