{# -------------------------------------------------------------------------------

   Description: Insert text here
   ===============================================================================
#}

{% extends "./patterns/_layout.njk" %}

{% block main %}
  <h1>About</h1>
{% endblock %}
